body, html {
    background: #ffffff;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.items {
    position: fixed;
    border: 1px solid #f1f1f1;
    overflow-y: scroll;
    width: 100%;
}

.loader {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 200px;
    z-index: 9999999999;
}

.selected {
    background-color: #E7F7FF;
}

.threads-list {
    padding-left: 100px;
}

.background-blue {
    background: #3688f9;
}

.background-green {
    background: #0EC389;
}

.color-white {
    color: #ffffff;
}

.color-grey {
    color: #fafafa;
}

.color-blue {
    color: #3688f9;
}

.color-red {
    color: red;
}

.threads-wrapper {
    -webkit-box-shadow: 5px 0px 24px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 5px 0px 24px 0px rgba(0,0,0,0.05);
    box-shadow: 5px 0px 24px 0px rgba(0,0,0,0.05);
}

.editable-items {
    border-right: 1px solid #e9e9e9;
}
