input[type="text"] {
    background: #edeef1;
    max-width: 130px;
    border: 0;
}

.dates-form {
    margin-left: 85px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.dates-form .start-date, .dates-form .end-date {
    border: 1px solid #3688f9;
    background-color: #E7F7FF;
}
