.thread-subject {
    cursor: pointer;
}

.thread {
    color: black;
}

.thread:hover {
    text-decoration: none;
    color: black;
}

.created-at {
    color: #7f9dcd;
    font-weight: 300;
    position: absolute;
    top: 15px;
    left: -60px;
}

.list-group-item {
    border: 0;
}

.subject {
    font-size: 14px;
}

.copy-button {
    cursor: pointer;
    color: black;
    position: absolute;
    right: 25px;
    top: 5px;
}

.copy-button:hover {
    color: #1b1e21;
}

.react-datepicker-popper {
    z-index: 9999999!important;
}
